/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
}

/* Estilo para el logo */
header img {
    width: 200px; /* Ajustamos el tamaño del logo */
    height: auto;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para el banner */
.banner {
    width: 100%;
    height: auto;
    max-height: 300px; /* Limita la altura máxima del banner */
    object-fit: cover;
}

/* Estilo para el contenido */
.container {
    padding: 20px;
}

/* Ajuste para el texto */
h1, p {
    text-align: center;
    margin: 20px 0;
}

footer {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}
